@import "midnight-fixes-moon.css";

.visual-refresh body, .visual-refresh .theme-dark {
	--white: var(--text-1);
	--white-500: var(--text-1);
	--button-filled-brand-text:var(--text-1);
}

.container__87bf1.checked__87bf1 .slider__87bf1 rect[fill='white'] {
    fill: var(--text-1) !important;
}

.button__85643 {
    display: none !important;
}

rect[fill='#43a25a'],
svg[fill='#43a25a'] {
	fill: var(--online) !important;
}
.status_a423bd {
	background-color: var(--online) !important;
}

.icon__8ac07 path {
    fill: var(--online) !important;
}
