.visual-refresh body, .visual-refresh .theme-dark {
    --bg-floating:hsla(220, 15%, 13%, 0.5) !important;
    --chat-background-default:hsla(220, 15%, 13%, 0.3) !important;
    --background-primary:hsla(220, 15%, 10%, 0.3) !important;
}

.visual-refresh .content__908e2 {
    background: hsla(220, 15%, 13%, 0.6);
    color: var(--text-3);
}

.title__85643 .defaultColor__4bd52 {
    color:hsl(220, 35%, 90%);
}

.title__85643 path {
    fill:hsl(220, 35%, 90%);
}
.sidebarRegion__23e6b {
    background-color: var(--bg-3);
}
.contentRegion__23e6b {
    background-color: var(--bg-3) !important;
}

/*.button__85643 path {
    fill:hsl(220, 35%, 90%);
}*/