.visual-refresh body, .visual-refresh .theme-dark {
    --bg-floating:hsla(220, 15%, 13%, 0.5) !important;
    --chat-background-default:hsla(220, 15%, 13%, 0.3) !important;
    --background-primary:hsla(220, 15%, 10%, 0.3) !important;
}

.visual-refresh .content__908e2 {
    background: hsla(220, 15%, 13%, 0.6);
    color: var(--text-3);
}

.visual-refresh .bg__960e4 {
    background: url('./Images/SKOVbaQ.png');
    background-size: cover;
    background-position: center;
}

.title__85643 .defaultColor__4bd52 {
    color:hsl(220, 35%, 90%);
}

/*.title__85643 path {
    fill:hsl(220, 35%, 90%);
}
.button__85643 path {
    fill:hsl(220, 35%, 90%);
}*/